@media screen and (max-width: 1204px) {
    #ucapan-deskripsi h2 {
        font-size: 7.3vmax;
    }

    button {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 800px) {

    #navigasi-atas {
        display: none;
    }

    #navigasi-mobile {
        display: block;
    }

    #ucapan-deskripsi h3 {
        font-size: large;
    }

    #ucapan-deskripsi h2 {
        font-size: 4.5em;
    }

    #bungkus-footer {
        flex-direction: column;
        gap: 4em;
    }

    #bungkus-navBawah {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    main, footer {
        margin: 0 10px;
    }

    /* Responsive untuk detail halaman menu */
    #mainArtikel {
        flex-direction: column;
        gap: 15vh;
    }

    #artikelUtama, aside {
        width: 100%;
    }

    .kontenAside a {
        max-height: 100%;
        font-size: x-large;
    }

    .kontenAside img {
        width: 86vw;
        max-height: 100%;
    }
}

@media screen and (max-width: 655px) {

    #mainBlur {
        display: block;
        position: absolute;
        overflow-x: hidden;
        background: url("../images/lawar-bali.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(6px);
        width: 92vw;
        height: 100vh;
        z-index: -999;
    }

    #ucapan-deskripsi {
        gap: 20px;
        text-align: center;
        width: 100%;
        padding: 15px 10px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 15px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }

    #figureImgUtama {
        display: none;
    }

    .menuH3 {
        font-size: 9vw;
    }

    #tentang p, #kontak p, #dukung p {
        font-size: 1.2em;
    }

    .menu {
        width: 95%;
    }

    .kontenAside a {
        font-size: large;
    }
}

@media screen and (max-width: 370px) {

    :hover {
        scale: unset !important;
        opacity: unset !important;
    }
    
    #ucapan-deskripsi h2 {
        font-size: 15vw;
    }

    #ucapan-deskripsi h3 {
        font-size: 6vw;
    }

    button {
        font-size: 7vw;
    }

    .menu:hover {
        scale: unset !important;
        filter: blur(0) !important;
    }

    /* ================================================= */

    #bungkusArtikel {
        padding: 0;
    }
    
    #judulArtikel h2 {
        text-align: center;
    }

    ul, ol {
        margin-left: 30px;
    }

    h4 {
        margin-left: 10px;
    }
}