/* Import URL Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


/* Root */
/* :root {
    --bg: #EEEEEE;

} */

/* Atur ulang */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    /* list-style: none; */
    color: #212121;
    border: none;

    scroll-behavior: smooth;
    scroll-margin: 60px;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0 auto;

    max-width: 1440px;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    
    background-color: rgba(255, 255, 255, 0.9);
}

main {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='720' preserveAspectRatio='none' viewBox='0 0 1440 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3cpath d='M915.88 65.12L967.64 65.12L967.64 116.88L915.88 116.88z' stroke='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M219.75 466.17L233.3 466.17L233.3 479.72L219.75 479.72z' stroke='rgba(3%2c 123%2c 11%2c 0.1)'%3e%3c/path%3e%3cpath d='M134.56 160.75L191.47 160.75L191.47 217.66L134.56 217.66z' fill='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M139.67 509.77L142.5 509.77L142.5 571.96L139.67 571.96z' stroke='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M1409.09 660.54a67.98 67.98 0 1 0-98.39 93.84z' stroke='rgba(231%2c 54%2c 53%2c 0.1)'%3e%3c/path%3e%3cpath d='M346.58 235.61L417.49 235.61L417.49 306.52L346.58 306.52z' fill='rgba(3%2c 123%2c 11%2c 0.1)'%3e%3c/path%3e%3cpath d='M1136.35 360.06a1.85 1.85 0 1 0 2.8-2.42z' stroke='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M439.55 579.38a20.54 20.54 0 1 0 24.91-32.66z' fill='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M509.03 663.74L576.1 663.74L576.1 726.52L509.03 726.52z' stroke='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M642.19 243.84 a44.73 44.73 0 1 0 89.46 0 a44.73 44.73 0 1 0 -89.46 0z' stroke='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M1302.42 472.7a20.75 20.75 0 1 0-25.6 32.67z' fill='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M541 532.88L574.55 532.88L574.55 566.74L541 566.74z' fill='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M885.91 96.53L935.01 96.53L935.01 113.84L885.91 113.84z' stroke='rgba(231%2c 54%2c 53%2c 0.1)'%3e%3c/path%3e%3cpath d='M361.63 155.96 a51.9 51.9 0 1 0 103.8 0 a51.9 51.9 0 1 0 -103.8 0z' fill='rgba(231%2c 54%2c 53%2c 0.1)'%3e%3c/path%3e%3cpath d='M1028.28 369.2a19.27 19.27 0 1 0 16.39 34.88z' stroke='rgba(231%2c 54%2c 53%2c 0.1)'%3e%3c/path%3e%3cpath d='M95.24 528.53L112.83 528.53L112.83 548.25L95.24 548.25z' fill='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M1425.79 623.56a15.47 15.47 0 1 0 17.66-25.41z' stroke='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3cpath d='M1267.49 634.33 a18.05 18.05 0 1 0 36.1 0 a18.05 18.05 0 1 0 -36.1 0z' stroke='rgba(231%2c 54%2c 53%2c 0.1)'%3e%3c/path%3e%3cpath d='M454.11 616.44 a50.11 50.11 0 1 0 100.22 0 a50.11 50.11 0 1 0 -100.22 0z' fill='rgba(231%2c 54%2c 53%2c 0.1)'%3e%3c/path%3e%3cpath d='M1051.17 217.54L1096.82 217.54L1096.82 263.19L1051.17 263.19z' stroke='rgba(231%2c 54%2c 53%2c 0.1)'%3e%3c/path%3e%3cpath d='M641.56 113.05L653.43 113.05L653.43 140.06L641.56 140.06z' stroke='rgba(231%2c 54%2c 53%2c 0.1)'%3e%3c/path%3e%3cpath d='M62.31 22.83L100.94 22.83L100.94 61.46L62.31 61.46z' fill='rgba(3%2c 123%2c 11%2c 0.1)'%3e%3c/path%3e%3cpath d='M57.96 213.06L120.62 213.06L120.62 275.72L57.96 275.72z' fill='rgba(3%2c 123%2c 11%2c 0.1)'%3e%3c/path%3e%3cpath d='M783.23 406.17 a52.81 52.81 0 1 0 105.62 0 a52.81 52.81 0 1 0 -105.62 0z' fill='rgba(3%2c 123%2c 11%2c 0.1)'%3e%3c/path%3e%3cpath d='M49.51 680.98 a17.07 17.07 0 1 0 34.14 0 a17.07 17.07 0 1 0 -34.14 0z' stroke='rgba(211%2c 183%2c 20%2c 0.1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1440' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-size: contain;
    /* background-attachment: fixed; */
    overflow: hidden;
}

main, footer {
    margin: 0 20px;
}

#spanMerah {
    color: #d42109;
}

#spanH2 {
    font-weight: 450;
}

#navigasi-atas {
    display: flex;
}

#navigasi-atas a {
    display: flex;
    flex-direction: column;

    text-align: center;
    font-weight: 500;
    margin: 0 1em;
}

/* Warna font menu navigasi atas jika halaman aktif */
.aktif {
    color: #d4462e !important;
}

#terangGelap-NavMob {
    display: flex;
    gap: 15px;
}

/* Navigasi Mobile */
#navigasi-mobile {
    display: none;
}

#navigasi-mobile i {
    cursor: pointer;
    font-size: 1.9em;
}

#bar, #silang {
    width: 30px;
    height: 30px;
}

#silang {
    display: none;
}

#bungkus-menuNM {
    display: none;
    position: fixed;
    top: 84px;
    right: 0;
    z-index: 999;
    
    text-align: center;
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-left: 1px solid rgba(33, 33, 33, 0.3);
    animation: menuNavMob 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes menuNavMob {
    from {
        width: 0;
    }

    to {
        width: 40%;
    }
}

#bungkus-menuNM a {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    vertical-align: middle;

    margin: 20px 0 5px 0;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

#bungkus-menuNM i:hover {
    /* transform: scale(0); */
}

/* Icon terang */
.fa-sun {
    color: #F28C38;
}

/* Icon gelap */
.fa-moon {
    width: 40.4px;
    height: 40.4px;
    color: #F5F3CE;
}

#terangGelap-NavMob {
    display: flex;
    align-items: center;
}

#terang-gelap i {
    cursor: pointer;
    padding: 5px;
    font-size: 1.9em;
    border-radius: 50%;
}

/* Rotasi icon terang, gelap, dan silang saat hover */
#terang-gelap i:hover, #silang:hover {
    transform: rotate(360deg);
}

#judul a {
    font-size: 1.5em;
}

i {
    font-size: 1.4em;
}

/* Opacity saat dihover */
a:hover, i:hover {
    opacity: 0.7;
}

/* Transisi saat dihover atau mouse leave */
#judul h1, a, button, i, .menu, #figureImgUtama img {
    transition: 0.3s;
}

#utama {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    height: 100vh;
}

#mainBlur {
    display: none;
}
#ucapan-deskripsi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#ucapan-deskripsi h2 {
    font-size: 7.3em;
    line-height: 1.2em;
}
#ucapan-deskripsi h3 {
    font-size: x-large;
    opacity: 0.8;
}

#ucapan-deskripsi a {
    margin-top: 3em;
}

#figureImgUtama {
    width: 50%;
}

#figureImgUtama img {
    max-width: 100%;
    animation: putarGeprek 60s infinite;
}

/* @keyframes putarGeprek {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */

#utama img {
    max-width: 100%;
    filter: brightness(90%);
}

/* Cursor pointer semua tombol */
button {
    cursor: pointer;
    font-size: 2em;
    padding: 10px 30px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #d42109;
}

/* Ukuran besar saat dihover */
#judul h1:hover ,a:hover, #judul a:hover, #navigasi-atas a:hover, #navigasi-mobile i:hover,
button:hover, #terang-gelap i:hover, .menu:hover, footer i:hover {
    scale: 1.1;
}

/* Article */
article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.menuH3 {
    font-size: 4em;
    margin-bottom: 1.5em;
}

/* Bungkus menu */
.bungkus-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 2em;
}

.menu {
    text-align: center;
    overflow: hidden;

    width: 340px;
    max-height: 300px;
    background-color: rgba(220, 220, 220, 0.1);
    border: 1px solid gainsboro;
    border-radius: 15px;
    opacity: 0.9;
}

.menu h3 {
    font-size: 1.3em;
}

.menu:hover {
    background-color: rgba(220, 220, 220, 0.6);
    box-shadow: 0 0 3px rgba(33, 33, 33, 0.5);
    opacity: inherit;
}

.menu img {
    width: 100%;
    height: 200px;
}

#menu1:hover, #menu2:hover, #menu3:hover, #menu4:hover, #menu5:hover, #menu6:hover, #menu7:hover, #menu8:hover {
    filter: blur(0) !important;
    border: unset;
}

.menu figure {
    width: 100%;
    height: inherit;
}

.menu a {
    display: block;
    width: 100%;
    height: inherit;
}

.menu figure *:hover  {
    scale: unset;
    opacity: 1;
}

#tentang, #kontak, #dukung {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tentang p, #kontak p, #dukung p {
    font-size: 1.5em;
}

#tentang section, #kontak section, #dukung section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tentang i, #kontak i, #dukung i {
    font-size: 2em;
}



/* Footer */
footer {
    /* margin-top: 20em; */
    padding: 10px 10px 0 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 15px 15px 0 0;
}

#bungkus-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */

    margin: 1em 0 2em 0;
    text-align: center;
}

#bungkus-navBawah a {
    display: block;
    text-align: left;
}

#copyright {
    text-align: center;
    margin-bottom: 10px;
}

#h3Footer::after {
    content: "";
    display: block;
    margin: 4px 0 1em 0;
    border: 1px solid #928585;
}

.fX, .fY, .fZ {
    font-size: 1.8em;
}

.fX:hover, .fY:hover, .fZ:hover {
    scale: unset;
    opacity: unset;
}

#bungkus-medSos a, #bungkus-bhsPmrgm i {
    margin: 0 8px;
}

/* Warna hover media sosial */
.fa-facebook:hover {
    color: #3b5998 !important;
}
.fa-linkedin:hover {
    color: #0a66c2 !important;
}

.fa-github:hover {
    color: #161b22;
}

.fa-envelope:hover {
    color: #d4462e !important;
}


#bungkus-medSos a:hover, #bungkus-medSos i:hover {
    opacity: unset !important;
}

/* Warna saat hover bahasa pemrograman */
.fa-heart:hover {
    color: #d42109 !important;
}

.fa-html5:hover {
    color: #dd4b25 !important;
}

.fa-css3-alt:hover {
    color: #254bdd !important;
}

.fa-js:hover {
    color: #f2c200 !important;
}

.fa-heart:hover, .fa-html5:hover, .fa-css3-alt:hover, .fa-js:hover {
    opacity: unset !important;
}
/* =========================================================== */


/* Style untuk bagian detail artikel menu */
#mainArtikel {
    display: flex;
    flex-direction: row;
    gap: 5vw;

    margin-top: 10vh;
    margin-bottom: 20vh;
}

#artikelUtama {
    width: 70%;
}

#bungkusArtikel, .kontenAside {
    margin: 10px 20px;
}

#judulArtikel h2 {
    margin-bottom: 1em;
}

#gambarArtikel {
    text-align: center;
}

#gambarArtikel img {
    border-radius: 10px;
}

#resep h3 {
    margin: 1em 0;
}

h4 {
    margin: 0 0 0 20px;
}

ul, ol {
    margin: 1.2em 0 1.2em 50px;
}

li {
    line-height: 1.8em;
    padding-inline-start: 10px;
    vertical-align: middle;
}

li::after {
    content: "";
    display: block;
    width: 90%;
    margin-bottom: 4px;
    border: 1px solid rgb(128, 128, 128, 0.5);
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    overflow: hidden;

}

.kontenAside {
    text-align: center;
}

.kontenAside h3 {
    font-size: 1.4em;
}

.kontenAside h3 {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.kontenAside h3::after, #judulArtikel h2::after {
    content: "";
    display: block;
    margin-top: 5px;
    border: 1px solid rgba(220, 220, 220, 1);
}

.kontenAside a {
    display: block;
    text-align: center;
    overflow: hidden;

    font-weight: bold;
    width: 100%;
    max-height: 270px;
    margin-bottom: 3em;
}

.kontenAside img {
    width: 100%;
    max-height: 240px;
    border-radius: 15px;
    background-position: center;
}

#artikelUtama, aside {
    background-color: rgba(245, 245, 245, 0.6);
    border: 1px solid rgba(245, 245, 245, 0.1);
    border-radius: 15px;
}